<div class="m-1 p-1 border border-current rounded flex flex-row items-center gap-1">
  <div>
    <p>
      <strong>name:</strong>
      <%= item_order_form.object.item.name %>
    </p>
  </div>
  <ul>
    <% item_order_form.object.item.images.each do |file| %>
      <li>
        <% if file.representable? %>
          <%= image_tag file.variant(:thumb) %>
        <% else %>
          <%= link_to rails_blob_path(file, disposition: "attachment") do %>
            <%= image_tag "placeholder.png", alt: "Download file" %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <div>
    <%= item_order_form.label :quantity %><br>
    <%= item_order_form.number_field :quantity %>
  </div>
</div>
