<%= form_with model: [ @run, @run.items.build ], class: "card p-2" do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :max_quantity %><br>
    <%= form.number_field :max_quantity %>
  </p>
  <p>
    <%= form.label :images %><br>
    <%= form.file_field(:images, accept: 'image/png,image/gif,image/jpeg', multiple: true)%>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
