<%= form_with model: @run do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @run.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :close_time %><br>
    <%= form.datetime_field :close_time %>
    <% @run.errors.full_messages_for(:close_time).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
