<h1 class="text-3xl font-bold"><%= @run.name %></h1>

<p> close time: <%= @run.close_time %>

<ul>
  <li><%= link_to "Edit", edit_run_path(@run) %></li>
  <li><%= link_to "Delete", run_path(@run), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %></li>
  <li><a href="/<%= @run.sqid %>">Order Form</a></li>
  <li><%= link_to "Orders", run_orders_path(@run) %></li>
</ul>

<h2 class="text-xl font-bold mt-4">Items</h2>
<div class="flex flex-col gap-2">
  <%= render @run.items%>
</div>

<h2 class="text-xl font-bold mt-4">Add an item:</h2>
<%= render 'items/form' %>
